
@using System.Collections
@using Delen.Core.Entities
@using Mono.CSharp
@using Raven.Abstractions.Extensions
@model IEnumerable<Delen.Server.ViewModel.JobViewModel> 

 
@foreach (var job in Model)
{
    <div>
   InitiatedBy: <span> @job.InitiatedBy </span>
     </div> 
    <div>
      Runner: <span> @job.Runner </span>
     </div> 
       <div>
      Arguments: <span> @job.Arguments </span>
     </div> 
    <div>
        @if (job.WorkItems.All(w => w.Status == WorkItemStatus.Successful))
        {
            <a href="@Url.Action("GetArtifacts", new{id = job.Id})">Download Artifacts </a>

        }
    </div> 
}